<!DOCTYPE html>
<html lang="zh-hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="all.css" />
    <title>辨識畫面</title>
  </head>
  <body>
    <header >
      <nav class="navbackground">
        <div class="webcam-head">
          <h2 class="header-text">請辨識身份</h2>
        </div>
      </nav>
    </header>
    <div class="Identify-background">
        識別狀態
    </div>
    <div class="webcam">
        webcam畫面
    </div>
    <script>

    </script>
  </body>
</html>
